@use "../owner-sidebar/owner-sidebar.component.scss";

:host(.open) .sidebar {
  @media (max-width: 1024px) {
    transform: translateX(0) !important;
    visibility: visible !important;
    width: 280px !important;

    .logo-text,
    .nav-label,
    .support-content,
    .nav-header {
      opacity: 1;
      width: auto;
      transform: translateX(0);
    }

    .support-btn span {
      display: inline;
      opacity: 1;
    }
  }
}

